* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body {
    font-family: map-get($fonts, 'primary');
    background-color: map-get($colors, 'background');
    color: map-get($colors, 'text');
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }
    
    main {
    flex: 1;
    }